* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* height: 100%;
  width: 100%; */
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
              Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
  color: white;
  background-color: #070707;
}
h1 {
  /* letter-spacing: 0.16em; */
  /* font-family: loew; */
  font-weight: 700;
  /* font-style: italic; */
  font-size: 60px;
  /* text-transform: uppercase; */
  /* box-shadow: inset 0 -0.175em white, inset 0 -0.2em #000; */
  display: inline;
  line-height: 1.5em;
}
.large {
  font-size: 60px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  display: inline;
  line-height: 1.5em;

}
h3 {
  font-weight: 700;
  font-size: 30px;
  display: inline;
  line-height: 1.5em;

}
.thin {
  font-weight: 400;
}
p {
  color: gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
img.fit{
  object-fit: scale-down;
  width: 100%;
  min-width: 150px;
  height: 150px;
  }

.full{
  max-width: 100%;
  margin: 0 0px;
  height: 100vh;
  object-fit: contain;
}

.features {
  height: 60vh;
  object-fit: cover;
}
#header {
  /* box-sizing: border-box; */
  width: 100%;
  /* display: flex; */
  /* color: white; */
  background-color: rgba(07, 07, 07, 1);
}
#header .menu {
  z-index: 1;
  display: flex;
  /* box-sizing: border-box; */
  /* padding: 0 20px; */
  /* margin: 0 100px; */
  padding-bottom: 4.75%;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  height: 100%;
  /* width: 100%; */
  /* padding-bottom: 100%; 
*/
justify-content: flex-end;
  background-color: rgba(127, 127, 127, 0);
}
#header .menu > nav {
  z-index: 1;
  position: absolute;
  display: flex;
  line-height: 10vh;
  padding-left: 15vh;
  /* padding-right: 10px; */
}
#header .menu > nav > a {
  display: flex;
  z-index: 1;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
#splash {
  position: absolute;
  z-index: 2;
  /* top: calc(50% - 100px);
  left: calc(50% - 100px); */
  height: 15vh;
  max-height: 500px;
  /* min-width: 100px; */
  /* height: 25%; */
  top: 0%;
  left: 10px;
  transition: all 0.5s;
  /* transform: scale(0.75); */
  /* transform-origin: 50% 50%; */
}
#splash:hover {
  transform: rotate(360deg) scale(1.2);
}
#video-bg {
  z-index: -20;
  display: inline-block; /* let it be styled thusly */
  padding: 0;            /* get rid of pre-styling */
  /* margin: 0; */
  /* margin-top: -4.75%; */
  /* margin-top: -5.5%; */
  margin-top:1%;
  margin-bottom: -1%;
  width: 100%;           /* take up full width available */
  padding-top: 56.25%;   /* give aspect ratio of 16:9; "720 / 1280 = 0.5625" */
  height: 0px;           /* don't want it to expand beyond padding */
  position: relative;  
  overflow: hidden;
}
#video-bg iframe,
#video-bg object,
#video-bg embed {
  /* z-index: -20; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#video-bgr {
  z-index: -10;
  display: inline-block;
  padding:0;
  position: relative;
  width: 100%;
  height: 100vh;
  /* justify-content: center; */
  overflow: hidden;
}

#video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 217.78vh;
  height:140vh;
  margin-top: -20vh;
  margin-left: - 10%;
}
/* #video-bgr iframe,
#video-bgr object,
#video-bgr embed {
  z-index: -20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.section {
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #070707;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 24px;
  margin: 5px;
}
/* .column .grow {

} */
section .fill,
.row .fill,
.column .fill,
.double-column .fill {
  margin: 0;
  padding: 0;
}

.double-column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding: 50px;
  margin: 5px;
}

footer a {
  text-decoration: none;
  font-size: 12;
  color: gray;

}

.first, .second, .third, .fourth {
  /* display: none; */
  font-weight: 400px;
  opacity: 0;
  color: white; 
}

.white{
  background-color: white;
  color: rgb(07,07,07);
  /* color: slategrey; */
}

.gray {
  background-color: darkslategray;
  color: white;
}
.graphite {
  background-color: rgb(41, 41, 41);
  color: white;
}
.darkblue {
  background-color: slateblue;
  color: white;
}
.blue {
  background-color: steelblue;
  color: black;
}
.black {
  /* background-color: rgb(21, 21,21); */
  background-color: #070707;
  color: white;
}

.donate {
  height: 55px;
  width: 250px;
  background-color: orange;
  color: black;
  border-radius: 10%;
  box-shadow: 0 0 3px yellow;
  border: 2px solid brown;
  font-size: 2.5em;

  font-weight: 700;
}
@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }
}